html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6 {
margin:0;
padding:0;
}

h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:700;
}

ul {
list-style:none;
}

button,input,select,textarea {
margin:0;
}

html {
box-sizing:border-box;
font-size:12px;
line-height:15px;
font-family:envypn,gohufont,monospace;
}

*,:before,:after {
box-sizing:inherit;
}

img,embed,iframe,object,audio,video {
height:auto;
max-width:100%;
}

iframe {
border:0;
}

table {
border-collapse:collapse;
border-spacing:0;
}

td,th {
text-align:left;
padding:0;
}

section > div > * {
margin-top:0.25rem;
}

pre {
margin-top:0.5rem;
padding-top:0.25rem;
padding-bottom:0.5rem;
color:#333;
padding-left:0.5rem;
}

.middle > .mtime {
color:gray;
position:fixed;
top:0;
right:0;
padding-top:0;
}

p,pre,ul,ol {
max-width:120ch;
}

pre,code {
background-color:rgb(229,231,232);
border-radius:3px;
}

body {
background-color:#f6f6f6;
color:#222;
padding-left:1px;
}

a {
color:#048;
text-decoration:none;
}

a:hover {
color:#37b;
text-decoration:underline;
}

a.external {
font-style:italic;
}

a img.preview {
margin-right:1ch;
height:96px;
width:96px;
}

.middle {
margin-bottom:4rem;
}

.middle > object:only-child {
margin-left:-2ch;
}

.middle.plaintext {
white-space:pre-wrap;
background-color:inherit;
}

li:not(:first-child) {
padding-top:0;
}

ul li::before {
content:"\203a";
color:gray;
font-weight:400;
display:inline-block;
width:1rem;
}

input,textarea,select {
background-color:#fff;
font-size:1rem;
border:1px solid #048;
color:#2b2b2b;
padding-left:0.25rem;
padding-bottom:0.25rem;
}

select,a,button {
cursor:pointer;
}

.sph-info-units label {
display:block;
}

section > h1~:not(h1),section > h2~:not(h2),section > h3~:not(h3),section > h4~:not(h4),section > h5~:not(h5),section > h6~:not(h6) {
margin-left:2ch;
}

.middle > *,.middle > section,section > div > section,.sph-info-processor > *,.sph-info-units > * {
margin-top:1rem;
}

.middle .library-description p,.middle .library-exports p {
white-space:pre;
}

@media screen and (max-device-width: 700px) and (max-device-height: 700px) {
a {
font-size:150%;
display:inline-block;
padding:0.25rem;
}
}

@media screen and (max-device-width: 1200px) {
.middle {
padding:0;
}

.middle > .mtime {
position:relative;
}
}
